.character-customizeable-options {
  display: flex;
  flex-direction: column;
}

.character-customizeable-options > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.character-customizeable-options > label > *:first-child {
  margin-right: 8px;
}

.character-customizeable-options input {
  border: 0px none transparent;
  box-shadow: 0 0 2px rgb(72, 138, 199);
  padding: 4px;
  font-size: 14px;
  border-radius: 2px;
}

.character-customizeable-options select {
  border: 0px none transparent;
  box-shadow: 0 0 2px rgb(72, 138, 199);
  padding: 4px;
  border-radius: 2px;
}

.character-customizeable-options a {
  text-decoration: none;
}

.character-customizeable-options .animation-play {
  margin-left: 16px;
  cursor: pointer;
}

.character-customizeable-options-container {
  overflow-y: auto;
  max-height: 400px;
  padding: 0 16px 0 0;
}

.clone-btn {
  line-height: 16px;
  margin: 4px 0 8px auto;
  padding: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  width: 100px;
  color: white;
  background-color: #42a5f5;
  border-bottom: 4px solid #488ac7;
  cursor: pointer;
}

.clone-btn:hover {
  border-bottom: 0px none transparent;
}

.layered-link {
  flex-grow: 1;
}

.pdn-link {
  min-width: 55px;
}